@page "/reservations"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WebProject.Shared
@using BlazorStrap
@using BlazorPro.Spinkit
@attribute [Authorize]
@inject IReservationService ReservationService
@inject IShipSearchService ShipSearchService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager
@implements IDisposable

<div class="title">
    <h3>Reservations</h3>
</div>

@if (reservations == null)
{
    <SpinLoader IsLoading="true">
        <LoadingTemplate>
            <div>
                <br />
                <br />
                <Chase Center="true" Color="black" Size="40px"></Chase>
            </div>
        </LoadingTemplate>
    </SpinLoader>
    <!--
        <Circle Center="true" Size="40p" />
        <div class="spinner"></div>
    -->
}
else if (reservations.Count == 0)
{
    <span>It seems like you haven't got any reservation for now...</span>
}
else
{
    <div class="reservation-table">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nr.</th>
                    <th>Ship Name</th>
                    <th>Port</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Price</th>
                    <th>Cancel Reservation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in reservations)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td><a href="/ships/@item.ShipId">@GetShip(item.ShipId).Name</a></td>
                        <td>@GetShip(item.ShipId).HomePort</td>
                        <td>@item.FromDate.ToShortDateString()</td>
                        <td>@item.ToDate.ToShortDateString()</td>
                        <td>@item.Price</td>
                        <td>
                            <div>
                                <ModalDialog ItemId="item.Id"
                                             ActionOnOk="() => {
                                                             onYesPushed(item.Id);
                                                         }"
                                             Disabled=@IsDesibled(@item.FromDate) />

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {

    private List<ReservationGetDTO> reservations { get; set; }

    async void onYesPushed(int itemId)
    {
        reservations = await ReservationService.DeleteReservation(itemId);
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        reservations = await ReservationService.GetReservations();
        await ShipSearchService.GetShips();
        ReservationService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ReservationService.OnChange -= StateHasChanged;
    }

    public ShipDTO GetShip(int shipId)
    {
        return ShipSearchService.Ships.Find(s => s.Id == shipId);
    }

    public bool IsDesibled(DateTime from)
    {
        if (from.AddDays(-2) < DateTime.Now)
            return true;
        else
            return false;
    }
}
