@page "/ships/{id:int}"
@using Microsoft.AspNetCore.Authorization
@inject IShipSearchService ShipSearchService
@attribute [Authorize]

@if (ship == null)
{
    <span>Ship is loading...</span>
}
else
{
    <h3>This is the detailed page of the ship "@ship.Name"</h3>
    <br>
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@ship.Name</td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td>@ship.Manufacturer</td>
        </tr>
        <tr>
            <td>IsAvailable</td>
            <td>@ship.IsAvailable</td>
        </tr>
        <tr>
            <td>IsDeleted</td>
            <td>@ship.IsDeleted</td>
        </tr>
        <tr>
            <td>HomePort</td>
            <td>@ship.HomePort</td>
        </tr>
        <tr>
            <td>Drought</td>
            <td>@ship.Drought</td>
        </tr>
        <tr>
            <td>Caution</td>
            <td>@ship.Caution</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@ship.Description</td>
        </tr>
        <tr>
            <td>Lenght</td>
            <td>@ship.Lenght</td>
        </tr>
        <tr>
            <td>PersonId</td>
            <td>@ship.PersonId</td>
        </tr>
        <tr>
            <td>PersonsMax</td>
            <td>@ship.PersonsMax</td>
        </tr>
        <tr>
            <td>PriceAtWeekDays</td>
            <td>@ship.PriceAtWeekDays</td>
        </tr>
        <tr>
            <td>PriceAtWeekEnds</td>
            <td>@ship.PriceAtWeekEnds</td>
        </tr>
        <tr>
            <td>ProductionYear</td>
            <td>@ship.ProductionYear</td>
        </tr>
        <tr>
            <td>ShipType</td>
            <td>@ship.ShipType</td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>@ship.Weight</td>
        </tr>
        <tr>
            <td>Width</td>
            <td>@ship.Width</td>
        </tr>
    </table>

    <EditReservation></EditReservation>
}


@code {
    [Parameter]
    public int Id { get; set; }

    ShipDTO ship = null;

    protected override async Task OnInitializedAsync()
    {
        ship = await ShipSearchService.GetShip(Id);
    }
}
