@page "/ships/{id:int}"
@using Microsoft.AspNetCore.Authorization
@inject IShipSearchService ShipSearchService
@attribute [Authorize]

@if (ship == null)
{
    <span>Ship is loading...</span>
}
else
{
    <img class="main-img" src="https://images.pexels.com/photos/1482193/pexels-photo-1482193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="img of the ship" />

    <h3 class="title"> This is the detailed page of the ship "@ship.Name"</h3>

    <table class="table first-table">
        <tr>
            <td>Name: </td>
            <td>@ship.Name</td>
            <td>Capacity: </td>
            <td> @ship.MaxPeople</td>
        </tr>
        <tr>
            <td>Caution: </td>
            <td>@ship.Caution</td>
            <td>Port: </td>
            <td>@ship.HomePort</td>
        </tr>
        <tr>
            <td>Price at Weekends: </td>
            <td>@ship.PriceAtWeekEnds</td>
            <td>Price at Weekdays: </td>
            <td>@ship.PriceAtWeekDays</td>
        </tr>
    </table>

    <br>
    <br>
            //TODO here user is also required !!! (or an username/userid pass is required)
            <EditReservation SelectedShip="@ship"></EditReservation>

    <h4>Dimensions</h4>
    <table class="table own-table">
        <tr>
            <td>Legth: </td>
            <td>@ship.Length</td>
            <td>Width: </td>
            <td>@ship.Width</td>

        </tr>
        <tr>
            <td>Drought:</td>
            <td>@ship.Draught</td>
            <td>Weight: </td>
            <td>@ship.Weight</td>
        </tr>

    </table>
    <br>
    <h4>Other details</h4>

    <table class="table own-table">
        <tr>
            <td>Manufecturer: </td>
            <td>@ship.Manufacturer</td>
            <td>Type: </td>
            <td>@ship.ShipType</td>

        </tr>
        <tr>
            <td>Production Year:: </td>
            <td>@ship.ProductionYear</td>
            <td>Overall Ranking: </td>
            <td>...</td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <h4>Description</h4>
    <p>@ship.Description</p>
    <br>

    <div class="comment">
        <CommentSection currentShipIdFromParentPage="Id"/>
    </div>

}


@code {
    [Parameter]
    public int Id { get; set; }

    public ShipDTO ship = null;

    protected override async Task OnInitializedAsync()
    {
        ship = await ShipSearchService.GetShip(Id);
    }
}
